// Mise en page générale avec Grid
.site {
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    row-gap: 50px;
    @media screen and (min-width: 992px) {
        grid-template-columns: 20% auto;
        grid-template-areas:
          "header header"
          "aside main"
          ". main"
          "footer footer";
    }
}

.site__entete {
    grid-area: header;
}
  
.site__main {
    grid-area: main;
    overflow: hidden;
}
  
.site__footer {
    grid-area: footer;
    background-color: #9265af;
}

.site__aside{
    grid-area: aside;

    h3 {
        font-size: 1.7rem;
        margin-left: 1.5rem;
    }

    li::before {
        content: "";
        background:transparent;
        border-radius: 0;
        padding-inline: 0;
        margin-inline-end: 0;
        width: 0;
        height: 0;
    }

}

.no__aside {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
    row-gap: 50px;

    @media screen and (min-width: $largeur__bureau) {
        grid-template-columns:auto;
        grid-template-areas:
          "header header"
          "main main"
          "footer footer";
    }
}