.blocflex {
    display : flex;
    justify-content: space-between;
    flex-wrap : wrap;
}


.blocflex__article {
    flex : 1 0 250px;
    padding : 5px;
    margin : 10px;
}

.blocflex__galerie {
    flex: 1 0 100%;
}