.blocflex {
    display : flex;
    justify-content: space-around;
    flex-wrap : wrap;
    width: 80vw;
    margin: 0 auto;
    @media screen and (max-width:992px) {
        width: 70vw;
        margin: 0 auto;
    }
}


.blocflex__article {
    // flex : 1 0 250px;
    padding : 1.2rem;
    margin : 10px;
    width: 25%;
}

.blocflex__galerie {
    width: 80%;
    display: flex;
    justify-content: center;
}
