.blocflex {
    display : flex;
    justify-content: space-between;
    flex-wrap : wrap;
    width: 80vw;
    margin: 0 auto;
}


.blocflex__article {
    flex : 1 0 250px;
    padding : 5px;
    margin : 10px;
}

.blocflex__galerie {
    width: 80%;
    display: flex;
    justify-content: center;
}