pre {
    display: none;
}

a {
    text-decoration: none;
}

/* ///////////////////////////////// menu__entete */

.menu__entete { // nav

    .menu { // ul
            width: 30rem;
            display : flex;
            list-style-type: none;
            justify-content: space-around;
            flex-wrap: nowrap;
            z-index: 8;
            @media screen and (max-width:576px) {
                width: 15rem;
                height: 20rem;
                margin-top: 15rem;
                margin-bottom: 15rem;
                position : absolute;
                top: -11rem;
                right: 2rem;
                flex-direction: column;
                transform : translateX(120%);
                background-color: #8c5ea9;
                border-radius: 5px;
                align-items: flex-start;
            }

        .menu-item { // li

            a{
                padding : 0.4rem;
                color: #6c4485;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                @media screen and (max-width:576px) {
                    color: #EED8C8;
                    font-weight: 400;
                    margin: 2rem;
                    text-align: left;
                }
            }
        

        }

        .menu-item::before {
            background: transparent;
            border-radius: 0rem;
            padding-inline: 0rem;
            margin-inline-end: 0rem; 
        }

    }

}

.menu__general {
    display: flex;
    flex-direction: row-reverse;
}

/* Gestion de la case à cocher servant à ouvrir le menu */
.bouton-burger {
    margin-left: 1rem;
    z-index: 10;
    font-size: 2rem;
    color: #3a1c4c;
}

.bouton-burger:hover {
    color: white;
    cursor: pointer;
}

#cc-pour-bouton-burger {
    display: none;
}

#cc-pour-bouton-burger:checked ~ .menu__site ul {
    @media screen and (max-width:576px) {
        transform: translateX(0%);
    }
}

.site__entete {
    width: 100vw;
}

.site__entete__haut {
    width: 100%;
    height: 9.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #EED8C8;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:576px) {
        height: 5rem;
        width: 100%;
    }
}

.custom-logo {
    width: 150px;
    height: 150px;
    @media screen and (max-width:576px) {
        width: 5rem;
        height: 5rem;
    }
}



.logo__site {
    position: relative;
}

.menu__site {
    width: 30rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    text-decoration: none;
    @media screen and (max-width:576px) {
        width: 10%;
    }
}

.barre__recherche {
    padding: 0.2rem;
}

.header__cote__droit {
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
}

header {
    width: 100%;
}



