.site__titre {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

.site__titre h1 {
    color: rgb(245, 245, 245);
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
}

.site__desc {
    color: #d6b5ea; 
}

pre {
    display: none;
}

a {
    text-decoration: none;
}

/* ///////////////////////////////// menu__entete */
.menu__entete{ // nav

    .menu { // ul
            display : flex;
            list-style-type: none;
            justify-content: flex-end;
        .menu-item { // li

            a{
                padding : 2rem;
                padding-left: 5rem;
                color: #6c4485;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }

        }

        .menu-item::before {
            background: transparent;
            border-radius: 0rem;
            padding-inline: 0rem;
            margin-inline-end: 0rem; 
        }

    }

}

.site__entete__haut {
    height: 9.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #EED8C8;
    justify-content: space-between;
    align-items: center;
}

.site__entete__textes {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.site__entete__textes h1{
    position: relative;
    top: -0.6rem;
    font-size: 3rem;
}

.site__entete__textes h2{
    position: relative;
    top: -3rem;
    font-size: 1.5rem;
}

.logo__site {
    position: relative;
}

.menu__site {
    width: 30rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    text-decoration: none;
}

.barre__recherche {
    padding: 8rem;
}
