.site__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EED8C8;
    padding: 3.4rem;
    // Téléphone
    @media screen and (max-width:576px) {
        font-size: 0.8rem;
        padding: 1rem;
    }

    .footer__col {
        width: 50%;

        .sidebar {

            div {

                .wp-block-buttons {

                    .wp-block-button {
                        margin: 0 auto;

                        .wp-block-button__link {
                            padding: 1rem;
                            background-color: #8149a6;
                            margin: 10px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }
        }
    }
}


