article {
   padding: 3rem;
   background-color: #f5eafb;
   width: 90vw;
   margin: 2rem auto;
   border-radius: 20px;
}

.titre__main {
    font-size: 3rem;
    padding: 1rem;
    margin: 3rem auto;
}