.menu-menu-4w4-container{
    .menu{
        background-color: #9265af;
        padding: 2rem;
        color: whitesmoke;
        border-radius: 5px;
        width: 100%;
        margin: auto 0;
        // Tablette
        @media screen and (min-width:577px) and (max-width:992px) {
            display: flex;
            flex-wrap: wrap;
            width: 95vw;
            margin: 0 auto;
        }
        // Téléphone
        @media screen and (max-width:576px) {
            display: flex;
            flex-wrap: wrap;
            width: 90vw;
            margin: 0 auto;
        }

        .menu-item{
            a{
                font-size: 1.2rem;
                text-decoration: none;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                padding: 5px;
                border-radius: 50px;
                transition: all ease-in-out 200ms;
                // Ordinateur
                @media screen and (max-width:992px) {
                    padding: 2rem;
                }
            } 

            a:hover {
                background-color: #b287ce;
            }
        }   
    } 
} 