.blocflex {
    .menu_bloc_archives {
        // Téléphone
        @media screen and (max-width:576px) {
           margin-top: 2rem;
       }
       // Tablette
       @media screen and (min-width:577px) and (max-width:992px) {
           margin-top: 2rem;
       }
       .menu {
           display : flex;
           justify-content: space-between;
           flex-wrap : nowrap;
           width: 90vw;
           margin: 0 auto;
           // Tablette
           @media screen and (min-width:577px) and (max-width:992px) {
               width: 95vw;
               margin: 0 auto;
               flex-direction: row;
               height: 200px;
           }
           // Téléphone
           @media screen and (max-width:576px) {
               width: 80vw;
               margin: 0 auto;
               flex-direction: column;
               height: 450px;
           }
   
           li::before {
               content: "";
               background:transparent;
               border-radius: 0;
               padding-inline: 0;
               margin-inline-end: 0;
               width: 0;
               height: 0;
           }
   
           .menu-item:hover {
                background-color: #be95da;
                scale: 105%;
                cursor: pointer;
            }

           .menu-item {
               padding: 1.2rem;
               background-color: #b57ddbeb;
               margin: 2rem auto;
               border-radius: 5px;
               box-shadow: 5px 5px 10px #5b21813e;
               width: 300px;
               display: flex;
               flex-direction: column;
               justify-content: space-around;
               align-items: center;
               transition: all 200ms ease-in-out;
               height: 140px;
               // Tablette
               @media screen and (min-width:577px) and (max-width:992px) {
                   width: 40%;
                   margin: 0 auto;
                   height: 140px;  
               }
               // Téléphone
               @media screen and (max-width:576px) {
                   width: 70%;
                   margin: 0 auto;
                   height: 140px;
                   padding: 2rem;
               }
           
               a {
                   text-decoration: none;
                   border-radius: 50px;
                   transition: all ease-in-out 200ms;
                   width: 95%;
                   text-align: center;
                   display: flex;
                   flex-direction: column;
                   justify-content: space-around;
                   height: 100%;
   
                   .title {
                       text-transform: uppercase;
                       font-weight: 700;
                       color: rgb(22, 22, 22);
                       text-align: center;
                       font-size: 1.5rem;
                       margin: 5px;
                       @media screen and (min-width:577px) and (max-width:992px) {
                           font-size: 1.2rem;
                       }
                       // Téléphone
                       @media screen and (max-width:576px) {
                           font-size: 1rem;
                       }
                   }
   
                   .description {
                       padding: 5px;
                       color: #471965;
                       text-align: center;
                       margin: 5px;
                       padding-bottom: 10px;
                       position: relative;
                       bottom: 18px;
                   }
   
                   .menu-thumbnail {
                       width: 60%;
                       align-self: center;
                       margin: 5px;
                   }
               }
           }
       }
   }
}


.img__archive {
    width: 25px;
    height: 25px;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    align-self: center;
    scale: 400%;
}

.archive__cours .img__archive {
    background-image: url("https://s2.svgbox.net/materialui.svg?ic=school");
}

.archive__4w4 .img__archive {
    background-image: url("https://s2.svgbox.net/materialui.svg?ic=bookmark");
}