.menu_ateliers {
        // Téléphone
        @media screen and (max-width:576px) {
            margin-top: 2rem;
            height: 1220px;
        }
        // Tablette
        @media screen and (min-width:577px) and (max-width:992px) {
            margin-top: 2rem;
            height: 1120px;
        }
        .menu {
            display : flex;
            justify-content: space-around;
            flex-wrap : wrap;
            width: 90vw;
            margin: 0 auto;
            // Tablette
            @media screen and (min-width:577px) and (max-width:992px) {
                width: 95vw;
                margin: 0 auto;
                flex-direction: column;
                flex-wrap: wrap;
                height: 1090px;
            }
            // Téléphone
            @media screen and (max-width:576px) {
                width: 95vw;
                margin: 0 auto;
                flex-direction: column;
                height: 1200px;
            }
  
            li::before {
                content: "";
                background:transparent;
                border-radius: 0;
                padding-inline: 0;
                margin-inline-end: 0;
                width: 0;
                height: 0;
            }

            .menu-item:hover {
                background-color: #754496;
                scale: 105%;
                cursor: pointer;
            }

            .menu-item {
                padding: 2.4rem;
                background-color: #653486dd;
                margin: 2rem auto;
                border-radius: 5px;
                box-shadow: 5px 5px 10px #5b21813e;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 200ms ease-in-out;
                // Tablette
                @media screen and (min-width:577px) and (max-width:992px) {
                    width: 30%;
                    margin: 0 auto;
                    height: 200px;
                }
                // Téléphone
                @media screen and (max-width:576px) {
                    width: 80vw;
                    margin: 0 auto;
                    height: 150px;
                    padding: 2rem;
                }
            
                a {
                    text-decoration: none;
                    border-radius: 50px;
                    transition: all ease-in-out 200ms;
                    width: 95%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
    
                    .title {
                        text-transform: uppercase;
                        font-weight: 700;
                        color: whitesmoke;
                        text-align: center;
                        font-size: 1.5rem;
                        margin: 5px;
                        @media screen and (min-width:577px) and (max-width:992px) {
                            font-size: 1.2rem;
                        }
                        // Téléphone
                        @media screen and (max-width:576px) {
                            font-size: 1rem;
                        }
                    }

                    .menu-thumbnail {
                        width: 60%;
                        align-self: center;
                        margin: 5px;
                        // Téléphone
                        @media screen and (max-width:576px) {
                            width: 30%;
                        }
                    }
                }
            }
        }
}
