.recherche {
    display: flex;
    flex-wrap: nowrap;
    
    .recherche__input {
        width: 7rem;
        border-radius: 50px;
        border: none;
        padding: 0.3rem;
    }

    .recherche__bouton {
        border-radius: 50px;
        border: none;
        background-color: transparent;
    }

    .recherche__icone {
        font-size: 1.3rem;
    }
}