.site__aside {
    background-color: #9265af;
    margin-top: 2rem;
    height: auto;
    border-radius: 5px;
    width: 305px;
    padding: 1.2rem;
    // Téléphone
    @media screen and (max-width:576px) {
        margin-top: -3rem;
        width: 100%;
        text-align: center;
    }
    // Tablette
    @media screen and (min-width:577px) and (max-width:992px) {
        margin-top: -3rem;
        width: 100%;
        text-align: center;
    }

    .menu-ateliers-container {
        .menu {
            .menu-item {
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: 500;
                    padding-top: 0.8rem;
                    transition: all 150ms ease-in-out;
                }

                a:hover {
                    color: #c8a3e1;
                    cursor: pointer;
                }
            }
        }
    }
}

.site__atelier {
    width: 60%;
    margin-left: 200px;
    // Tablette
    @media screen and (min-width:577px) and (max-width:992px) {
        margin: 0 auto;
    }

    //Téléphone
    @media screen and (max-width:576px) {
        margin: 0 auto;
    }
}

.img__atelier {
    position: absolute;
    bottom: 30rem;
}

.menu_ateliers {
    margin-top: 200px;
}

.informations {
    text-align: left;
}

p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    //Téléphone
    @media screen and (max-width:576px) {
       font-size: 0.9rem;
    }
}

table {
    width: 650px;
    background-color: #9265af;
    padding: 1rem;
    border-radius: 5px;

    tr {
        font-weight: bold;
    }

    td {
        background-color: #c8a3e1;
    }
}