.site__aside {
    background-color: #9265af;
    margin-top: 2rem;
    height: 405px;
    border-radius: 5px;
    width: 305px;
    padding: 1.2rem;
}

.site__atelier {
    width: 60%;
    margin-left: 200px;
}

.img__atelier {
    position: absolute;
    bottom: 30rem;
}

.menu_ateliers {
    margin-top: 200px;
}